@import '../styles/colors.css';
@import '../styles/metrics.css';

.sync-status-badge {
	align-items: center;
	color: var(--dark-gray);
	display: inline-flex;
	font-size: 75%;
	font-weight: normal;
	gap: calc(var(--grid-size) / 4);
	margin-left: calc(var(--grid-size) / 2);
	white-space: nowrap;
}

.sync-status-badge .sync-status-badge-tick {
	color: var(--dark-green);
	height: 12px;
	width: 12px;
}
